.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.progress{
  position: relative;
  width: 600px;
  background-color: rgb(123, 128, 128);
  height: 7px;
  border-radius: 30px;
  z-index: 1;
}
.progress-line{
  z-index: 3;
  position: absolute;
  background-color: aqua;
  height: 7px;
  border-radius: 7px;
}
.response__item{
  cursor: pointer;
  font-size: 30px;
  border: 1px solid aqua;
  width: 200px;
  height: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}